<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylibrary">


    <!--<provide-->
        <!--android:name="appAuthRedirectScheme"-->
        <!--android:authorities="${ROOT_APPLICATION_ID}.authority"-->
        <!--android:exported="false" />-->
</manifest>